{% extends "base.html" %}

{% block head_extension %}
    <link rel="stylesheet" href="/poem.css">
{% endblock head_extension %}

{% block smalltitle %}
    together - a poem for you
{% endblock smalltitle %}

{% block content %}
<div class="box content"> <!--
--><i>together we are happy</i>

        at your side 
        i stride with you 
        here and there
        wherever you go
        you wait, i stay
        you move, i follow
        my heart's a compass
        and it points to you


        <i>together we are beautiful</i>
        
        both you and i
        we shine so bright
        like pearl and diamond
        we light the night
        so elegant, so stunning
        such charming grace
        what gift to gaze 
        each day anew 
        upon your gorgeous face
        
        
        <i>together we are lovely</i>
        
        so near and so caring
        so close and so warm
        so soft and so gentle
        come lay in my arm
        we hug and we kiss
        intertwined to one
        i'm so enamoured by you
        please don't let go
        
        
        <i>together we are strong</i>
        
        for no foe ever 
        could bring us down
        because our love shields us
        as we love and we grow
        you make me so strong
        you give me this courage
        with your hand in mine
        nothing will stop us

        
        we're side by side and hand in hand
        we're face to face and arm in arm
        the sun sets and the new moon rises
        and as the stars dance for us
        I see where your mind is 
        

        so in this moment
        now or never, let us say it
        "I love you"
        forever, we are together
</div>
{% endblock content %}

